<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/assets/ico/favicon.png">

    <title>Eko Wibowo</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Biography</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#contact"><button type="button" class="btn btn-xs btn-success">Claim your bio!</button></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
          <img src="/static/avatar.png">
          <h1>Eko Suprapto Wibowo</h1>
        <p class="lead">A cool coder and a cooler Capoeirista</p>
      </div>

<div class="page-header">
        <h1>Portofolio</h1>
      </div>
<div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">Distributed POS application<span class="badge badge-important">python</span><span class="badge badge-success">c#</span><span class="badge badge-success">flask</span><span class="badge badge-success">sqlalchemy</span><span class="badge badge-success">postgresql</span><span class="badge badge-success">openshift</span></li>
            <li class="list-group-item">Email Monitoring to SMS alert<span class="badge badge-success">c#</span><span class="badge badge-success">windows service</span><span class="badge badge-success">mysql</span><span class="badge badge-success"></span><span class="badge badge-success">sms</span></li>
            <li class="list-group-item">Pymphony Integration Utiliy<span class="badge badge-success">vb.net</span><span class="badge badge-success">system integration</span><span class="badge badge-success">pymphony</span><span class="badge badge-success">ms-access</span></li>
            <li class="list-group-item">National Forest Inventory application<span class="badge badge-success">java</span><span class="badge badge-success">spring framework</span><span class="badge badge-success">jooq</span><span class="badge badge-success">xml</span><span class="badge badge-success">postgresql</span><span class="badge badge-success">adobe flex</span></li>
            <li class="list-group-item">OSX System Checker<span class="badge badge-success">cocoa</span><span class="badge badge-success">mac os x</span></li>
          </ul>
        </div><!-- /.col-sm-4 -->
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
