{% extends "themes/water/base-layout.html" %}
{% block content %}

<div class="page-header">
    <h1>{{ user.firstname }} {{ user.lastname }}</h1>
    <p>{{ user.tagline }}</p>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="starter-template">
          <img src="{{ user.avatar }}">
          <div align="justify">{{ user.bio }}</div>
      </div>

    </div>

    <div class="col-sm-8"> 
      <div class="container">
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>
      </div>

      <div class="container">
          <ul class="list-group">
            <li class="list-group-item">Distributed POS application<span class="badge badge-important">python</span><span class="badge badge-success">c#</span><span class="badge badge-success">flask</span><span class="badge badge-success">sqlalchemy</span><span class="badge badge-success">postgresql</span><span class="badge badge-success">openshift</span></li>
            <li class="list-group-item">Email Monitoring to SMS alert<span class="badge badge-success">c#</span><span class="badge badge-success">windows service</span><span class="badge badge-success">mysql</span><span class="badge badge-success"></span><span class="badge badge-success">sms</span></li>
            <li class="list-group-item">Pymphony Integration Utiliy<span class="badge badge-success">vb.net</span><span class="badge badge-success">system integration</span><span class="badge badge-success">pymphony</span><span class="badge badge-success">ms-access</span></li>
            <li class="list-group-item">National Forest Inventory application<span class="badge badge-success">java</span><span class="badge badge-success">spring framework</span><span class="badge badge-success">jooq</span><span class="badge badge-success">xml</span><span class="badge badge-success">postgresql</span><span class="badge badge-success">adobe flex</span></li>
            <li class="list-group-item">OSX System Checker<span class="badge badge-success">cocoa</span><span class="badge badge-success">mac os x</span></li>
          </ul>
      </div><!-- /.container-->
        </div><!-- /.col-sm-4 -->
      </div>
{% endblock %}
