<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if user is defined %} {{ user.tagline }} {% endif %}">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/assets/ico/favicon.png">

    <title>{{ page_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/themes/water/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <!--
      <style type="text/css">
          .navbar{
              background-color:#2e2e2e;
          }
      </style>
-->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-bold">iography</span></a>            
        </div>
        <div class="collapse navbar-collapse">
            {% if session['signed'] %}
            <ul class="nav navbar-nav navbar-right" >
                <li class="dropdown">                    
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-user"></span>
                        Signed in as {{ session['username'] }} <b class="caret"></b>
                    </a>
                    
                    <ul class="dropdown-menu">
                        <li><a href="/{{session['username']}}">Your Bio Page</a></li>
                        <li><a href="{{ url_for('profile') }}">Settings..</a></li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('signout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}            
            
            {% if not signinpage_form %}

            <form class="navbar-form navbar-right" action="{{ url_for('signin')}}" method="POST">
              {{ signin_form.hidden_tag() }}                
                <div class="form-group">
                  {{ signin_form.username(class="form-control", placeholder="Username") }}
                </div>
                <div class="form-group">
                  {{ signin_form.password(class="form-control", placeholder="Password") }}
                </div>
                <div class="checkbox">
                    {{ signin_form.remember_me }} 
                    {{ signin_form.remember_me.label(style="color:rgb(240,240,240);") }}
                </div>                
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Sign In</button>
                </div>
            </form>
            
            {% endif %}

            {% endif %}

        </div><!--/.nav-collapse -->
    </div>
<div align="center"><span class="glyphicon glyphicon-hand-right"></span>&nbsp;Follow a <a href="http://tinyurl.com/pythonthusiast-bio-app-dev" target="_blank">step-by-step guide</a> on how to develop this Biography application on <a href="http://www.openshift.com">Openshift</a></div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/assets/js/jquery.js"></script>
    <script src="/static/dist/js/bootstrap.min.js"></script>
    {% block footer %}
    {% endblock %}
  </body>
</html>
