{% extends "base-layout.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6 well"> 
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">

        <form class="form-horizontal" action={{url_for('signup')}} method="POST" role="form" >
            {{ form.hidden_tag() }}
            <div class="heading">
                <h4 class="form-heading">Publish your biography to the world!</h4>
            </div>

            <div class="form-group">
                <label class="control-label" for="email">{{form.email.label}}</label>

                    {{ form.email(placeholder="E.g. brucewayne@wayne.com", class="form-control") }} {{ form.email.errors[0] }}
            </div>
            <div class="form-group">
                <label class="control-label" for="password">{{form.password.label}}</label>

                {{ form.password(placeholder="Min. 6 Characters", class="form-control") }}
                <span class="help-inline">{{ form.password.errors[0] }}</span>

            </div>
            <div class="form-group">
                <label class="control-label" for="username">{{form.username.label}}</label>
                
                {{form.username(placeholder="E.g. ashwinhegde", class="form-control")}}
                <span class="help-inline">{{ form.username.errors[0] }}</span>
                
            </div>
            <div class="form-group">
                    
                    <label class="checkbox">
                        {{form.agree}} {{form.agree.label}}  {{ form.agree.errors[0] }}
                    </label>
                    <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </form>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>                   
    <div class="col-sm-3">
    </div>
</div>

{% endblock %}