{% extends "base-layout.html" %}

{% block content %}


<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 well" style="background-color: rgb(255,255,255);">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10">
                    <form class="form-horizontal" action="{{url_for('signup')}}" method="POST" role="form">
                           {{ form.hidden_tag() }}
                        <div class="heading">
                            <h4 class="form-heading">Publish your biography to the world!</h4>
                        </div>

                        <div class="form-group">
                            {{form.email.label(class="col-sm-5")}}
                            <div class="col-sm-7">
                                {{ form.email(placeholder="E.g. brucewayne@wayne.com", class="form-control") }} 
                                <p class="help-block has-error">{{ form.email.errors[0] }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            {{form.password.label(class="col-sm-5")}}
                            <div class="col-sm-7">
                               {{ form.password(placeholder="Min. 6 Characters", class="form-control") }}
                                <div class="help-block">{{ form.password.errors[0] }}</div>
                            </div>

                        </div>
                        <div class="form-group">
                            {{form.username.label(class="col-sm-5")}}
                            <div class="col-sm-7">
                                {{form.username(placeholder="E.g. ashwinhegde", class="form-control")}}
                                <div class="help-block">{{ form.username.errors[0] }}</div>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <label class="checkbox col-sm-12">
                               {{form.agree}} {{form.agree.label}}  {{ form.agree.errors[0] }}
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success">Sign Up</button>
                    </form>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div><!--/container-->
    </div>                   
    <div class="col-sm-2">
    </div>
</div>

{% endblock %}